post {
    .post-title {
        font-weight: bold;
    }
    .post-author {
        margin-top: 1em;
        font-style: italic;
    }
    .comment-author {
        margin-top: 1em;
        font-style: italic;
    }
    .comment-body {
        border-top: 1px solid black;
        padding-top: 1em;
        padding-bottom: 1em;
    }
}